
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Get-it</title>
    <link rel="stylesheet" href="/static/css/getit.css">
</head>
<body>

<form name = 'Salvar' action="/update/{id}" method="POST">
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" name="titulo" value="{title}" />

        <label for="detalhes">Detalhes</label>
        <input id="detalhes" name="detalhes" value="{details}"/>

        <button name ='Salvar' type="submit">Salvar</button>
    </form>

    <a class="delete-form" href="/">Cancelar</a>

    </body>
</html>
