
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Get-it</title>
    <link rel="stylesheet" href="/static/css/getit.css">
</head>

<body>
    <img src="{imagem}">
    <p>Como o Post-it, mas com outro verbo</p>

    <form action="/submit_form" method="POST">
        <label for="titulo">Titulo</label>
        <input id="titulo" type="text" name="titulo" />

        <label for="detalhes">Detalhes</label>
        <input id="detalhes" name="detalhes" />

        <input type="submit" value="Adicionar" />
    </form>

    <ul>
        {notes}
    </ul>

</body>
</html>
